@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yusei+Magic&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
}

/* ==========================Header=========================== */

#container-header {
  background-color: #02A28F;
  height: 56px;
  color: #fff;
  width: 100%;
  line-height: 50px;
  margin-bottom: 30px;
}

#titulo-header {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
}

/* ==========================Section Imagem Principal=========================== */

#container-imagem-principal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#principal{
  background-image:url(assests/ImagemHeader.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  width: 368px;
  height: 396px;
  padding: 0 15px;
}

.titulo-imagem-principal {
  position: relative;
  top: 60%;
  width: 320px;
  height: 100px;
  gap: 1px;
}

.titulo-imagem {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  text-align: left;
  color: #ffffff;
}

.paragra-image-principal {
  font-size: 16px;
  line-height: 19.5px;
  text-align: left;
  color: #ffffff;
}

.paragra-image-principal span {
  font-weight: 700;
}

.imagem {
  width: 368px;
  height: 191px;
}

/* ==========================Main=========================== */

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

/* =============Section - Post ================= */

#container-post {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.informacao-post {
  background-color: #FFFFFF;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  width: 368px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#container-descricao-post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.paragrafo-desenvolvimento {
  color: #02A28F;
}

.paragrafo-autor,
.paragrafo-descricao,
.paragrafo-data {
  font-size: 14px;
  line-height: 17.07px;
  text-align: left;
}

.paragrafo-autor span,
.paragrafo-data {
  font-weight: 500;
}

/* Botão para ver todos os posts */

#topo-ver-todos-post {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #02A28F;
  width: 368px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 10px;
}

#topo-ver-todos-post h2 {
  font-size: 20px;
  color: #FFFFFF;
}

#topo-ver-todos-post a {
  font-size: 14px;
  color: #FFFFFF;
}

/* ===============Section - top-post-populares-card ================ */

#container-post-populares {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

#topo-post-populares {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #02A28F;
  width: 368px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 10px;
}

#topo-post-populares h2 {
  font-size: 20px;
  color: #FFFFFF;
}

#card {
  display: flex;
  gap: 10px;
  width: 366px;
  height: 106px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.imagem-post-populares {
  width: 154px;
  height: 90px;
}

.titulo-post-populares {
  font-size: 14px;
  font-weight: 700;
}

/* ===================container-lista-Categorias========================= */

#container-lista-categorias {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

#topo-lista-categorias {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #02A28F;
  width: 368px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 10px;
}

#topo-lista-categorias h2 {
  font-size: 20px;
  color: #FFFFFF;
}

#container-item-lista {
  width: 368px;
  display: flex;
  flex-direction: column;
}

.item-lista {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.item-lista p,
.item-lista-span span,
.item-lista h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
}

/* =============================Footer========================================= */

#container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #02A28F;
  height: 48px;
}

.paragrafo-footer {
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
}

/* ==========================Media Queries====================== */

@media (min-width: 750px) {
  #principal,
  #topo-ver-todos-post,
  #topo-post-populares,
  #topo-lista-categorias {
    width: 390px;
  }
}

@media (min-width: 1200px) {
  #main {
    display: grid;
    grid-template-areas:
      "container-imagem-principal container-post-populares"
      "container-post container-lista-categorias"
      "container-footer container-footer";
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }

  #principal {
    width: 755px;
  }
<<<<<<< HEAD

  #container-imagem-principal {
    grid-area: container-imagem-principal;
    width: 100%; 
  }

  #container-post-populares {
    grid-area: container-post-populares;
    width: 100%; 
    padding: 0 20px 0 0;
  }


  #container-post {
    grid-area: container-post;
    width: 100%;
    padding: 0 10px 0 20px;
  }
  #topo-ver-todos-post{
    width: 755px;
  }

  #container-lista-categorias {
    grid-area: container-lista-categorias;
    width: 100%; 
    position: relative;
    bottom: 400px;
    padding: 0 20px 0 0;
  }


  
  #container-informacao-post{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  #titulo-header{
    text-align: left;
  }
  #container-header{
    padding-left: 133px;
  }
=======
>>>>>>> dd5f1f520228df38bd837b6dc70505de531ab95a
}
